@import "../variables.scss";

.page-merch {
    .card {
        background-color: $card-background-color;
        margin-bottom: 20px;
    
        .card-title {
            color: $secondary-color-muted !important;
        }
    }
}