@import "./variables.scss";

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: $card-border-radius;
}

.child {
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
    color: black !important;

    p:not(:first-child) {
        font-weight: bold;
    }

    a {
        display: inline-block;
        line-height: 48px;
        min-width: 75%;
        background-color: $primary-color;
        border-radius: $card-border-radius;
    }
}