@import "./variables.scss";
@import "./fonts.scss";
@import "./colors.scss";

/**
 * ------------------
 *    Page Elements
 * ------------------
 **/

nav.navbar {
    background: $primary-color;
}

#site-navbar {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 991px) {
    div#site-navbar.navbar-collapse.collapse.show {
        border-bottom: dashed 2px;
    }
}

.dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
}

.dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
    border: solid 1px;
}

h1 {
    display: flex;
    flex-direction: column;

    .tagline {
        font-weight: bold;
    }
}

body {
    padding-top: 70px;
}

main {
    padding-bottom: 10px;
}

footer {
    .footerTopBar {
        border-top: solid 3px $card-background-color;
    }

    margin: 30px 0px;
}
  

/**
 * ------------------
 *     Containers
 * ------------------
 **/

.flex-col {
	display : flex;
	flex-direction : column;

    > * {
        padding: 5px;
    }
}

.flex-row {
	display : flex;
	flex-direction : row;

    > * {
        padding: 5px;
    }
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.row-item {
    &:not(:first-child) {
        margin-left: 15px;
    }
}

/**
 * ------------------
 *       Alerts
 * ------------------
 **/
 
.alert.floating {
    position: fixed;
    bottom: 5px;
    right: 25px;
    z-index: 1000;
    max-width: 40%;
}

@media only screen and (max-width: 991px) {
    .alert.floating {
        right: 5%;
        max-width: 90%;
    }
}


/**
 * ------------------
 *     Carousels
 * ------------------
 **/

.carousel-image {
    border-radius: $carousel-border-radius;
    width: 100%;
}

/**
 * ------------------
 *       Cards
 * ------------------
 **/

.card {
    padding: 5px;
    text-wrap: pretty;
}

.card-image {
    max-height: 300px;
    width: 100%;
    max-width: 300px;
}

.card-image.png {
    background-color: white;
    border-radius: $card-border-radius;
}

/**
 * ------------------
 *      Show Cards
 * ------------------
 **/

.show-card {
    padding: 5px;
    margin-bottom: 5px;
    background-color: $card-background-color;
    border-radius: $card-border-radius;
    color: $primary-color;

    hr {
        margin: 5px 0 5px 0;
    }
    
    .show-card-image {
        max-height: 300px;
        max-width: 300px;
        width: 100%;
        background-color: $card-background-color;
    }

    .show-card-image.png {
        background-color: $card-background-color;
        border-radius: $card-border-radius;
    }

    .show-card-data {
        padding-top: 5px;
    }

    .twenty-one {
        padding: 0 6px;
        color: $card-background-color;
        text-align: center;
        background: $primary-color;
        border: solid $primary-color 1px;
        border-radius: $card-border-radius;
    }
}
